<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reg_style.css')}}" />
        <title>Регистрация</title>
    </head>
    <body>
        <h1>Регистрация</h1>
        <form method="POST" action="/reg_run">
    <input class="name" name="name" placeholder="Введите ваше имя" />
    <input class="email" name="email" placeholder="Введите ваш e-mail" />
    <input class="pass" name="pass" placeholder="Придумайте пароль" type="password" />
    <input class="pass_again" placeholder="Повторите пароль" type="password" />
    <input type="submit" value="Зарегистрироваться" />
</form>

        <div class="log">Войти</div>
        <div class="restore">Восстановить пароль</div>
    </body>
</html>